<!DOCTYPE html>
<html>
  <head>
    <title>Rakuni</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <% if can? :manage, User %>
     <%= link_to 'アカウント一覧', users_path %>
   <% end %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
